//Menu Button
.menu-btn {
  position: absolute; //we want it to be at corner always
  z-index: 3; //very close to front
  right: 35px; //from right
  top: 35px; //from top
  cursor: pointer; //hover over should have pointer
  @include easeOut;


  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;// top topright bottom left
    background: #ffff;
    @include easeOut;
  }

//Rotate into X with Menu lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // Line 1 - Rotate
      &:nth-child(1) { //grab 1st line
        transform: rotate(45deg) translate(5px, 5px)
      }
      
      //Line 2 - Hide
      &:nth-child(2) { //grab 2nd line
        opacity: 0;
      }

      //Line 3 - Rotate
      &:nth-child(3) { //grab 1st line
        transform: rotate(-45deg) translate(7px, -6px)
      }
    }

  }
}